.Button{
    background-color: darkgray;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
   
}

.Button.function{
    color: black;
    background-color: azure;
}
.Button.operators{
    background-color: darkgoldenrod;
}
